.container{
    width: 75%;
    background-color: whitesmoke;
    margin-left: 180px;
}
#randomNumber{
    background-color: lightskyblue;
    height: 100px;
    margin-right: 1px;
    margin-left: 15px;
    margin-bottom: 3px;
    font-size: 50px;
}

#win-lose{
    background-color: lightblue;
    height: 100px;
    padding-top: 5px;
}

p{
    background-color: bisque;
}

#totaltitle{
    background-color:lightgreen;
    margin-top: 5px;
    margin-left: 15px;
}

#totalscore{
    background-color: lightgreen    ;
    height: 140px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15px;  
    font-size: 50px;
}
