.container{
    width: 75%;
    background-color: whitesmoke;
    margin-left: 180px;
}
#randomNumber{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 60px;
}

#win-lose{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 60px;
}

p{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#totaltitle{
    background-color: rgba(0, 255, 255, 0.664);
}

#totalscore{
    background-color: rgba(0, 255, 255, 0.664);
    height: 140px;
    font-size: 30px;
    margin-bottom: 20px;
}